.main_wrap {
    padding: 0 350px;
    width: 100%;
    margin-top: 60px;
    display: flex;
    justify-content: center;
}

#wrap_wrap2 {
    width: 100%;
    margin-bottom: 20px;
}

.title {
    font-size: 28px;
    margin-bottom: 10px;
}

.main_hr {
    width: 90%;
}

.list_wrap {
    margin: 20px 0;
}

.list {
    border: 1px solid rgba(148, 147, 147, 0.4);
    padding: 20px;
    position: relative;
    display: flex;
    margin-bottom: 15px;
    border-radius: 5px;
    cursor: pointer;
    z-index: 300;
}

.list:hover {
    background-color: rgba(244, 242, 238, 0.4);
}

.list:hover .close_wrap {
    visibility: visible;
}

.close_wrap {
    visibility: hidden;
    position: absolute;
    width: 24px;
    height: 24px;
    right: 16px;
    top: 16px;
    cursor: auto;
}

.close {
    width: 24px;
    height: 24px;
}

.price {
    position: absolute;
    right: 100px;
    top: 60%;
    font-weight: bold;
}
.price ::before{
    content: "₩ ";
}

.img_wrap {
    width: 110px;
    height: 156px;
    border: 1px solid rgba(148, 147, 147, 0.2);
}

.img {
    width: 100%;
    height: 100%;
}

.info_box {
    margin-left: 30px;
}

.info_title {
    text-decoration: underline;
    font-size: 20px;
}

.info_wrap {
    margin-top: 15px;
}

.info {
    list-style: '- ';
    margin: 5px 0;
    font-size: 14px;
}

.info:nth-child(1) {
    list-style: none;
    margin-bottom: 15px;
    color: red;
}

.small {
    font-size: 11px !important;
}


@media (max-width: 1200px) {
    .price {
        display: none;
    }
}

@media (max-width: 1100px) {
    .list {
        width: 410px;
    }
    main hr {
        width: 360px;
    }
    main {
        display: flex;
        justify-content: center;
        padding: 0;
    }
    #wrap_wrap2 {
        width: 400px;
    }
}

#shipping_p::after {
    content: " (25€)";
}

.count_wrap {
    border: 1.5px solid #d6bac3;
    width: 140px;
    height: 42px;
    align-items: center;
    display: flex;
    position: absolute;
    right: 220px;
    top: 120px;
    font-weight: bold;
    z-index: 320;
}

.count_wrap:hover {
    background-color: white;
}

.count_num {
    width: 60px;
    height: 42px;
    padding: 10px;
    color: #bb899a;
    text-align: center;
    border-right: 1.5px solid #d6bac3;
}

.count {
    width: 40px;
    height: 40px;
    padding: 10px;
    text-align: center;
    cursor: pointer;
}

.count_minus {
    border-right: 1.5px solid #d6bac3;
}

.count:hover {
    background-color: #e8dee1;
}

@media (max-width: 1400px) {
    .count_wrap {
        display: none;
    }
}

.coupon_wrap {
    display: flex;
    justify-content: space-between;
    width: 300px;
    border: 1px solid #d6bac3;
    padding: 10px;
    align-items: center;
    margin-bottom: 15px;
}

.coupon_input {
    text-align: center;
}

.apply_coupon_button {
    border: 1px solid #d6bac3;
    border-radius: 1px;
    padding: 5px 12px;
    cursor: pointer;
    background-color: white;
    font-weight: 400;
    font-size: 12px;
}

.apply_coupon_button:hover {
    background-color: #f1f0f0;
}
