.main_wrap {
    display: flex;
    justify-content: center;
}

.main_box {
    display: block;
    width: 580px;
}

.h1 {
    font-weight: bold;
    font-size: 42px;
    color: rgba(141, 138, 138, 1);
    cursor: pointer;
}

#title {
    margin-top: 50px;
    font-size: 26px;
}

#login_box {
    width: 580px;
    margin-top: 10px;
    padding: 35px;
    border: 1px solid rgba(172, 172, 172, 1);
    border-top-left-radius: 20px;
}

#login_box input {
    width: 100%;
    height: 50px;
    padding: 20px;
    margin-top: 30px;
    border: 1px solid rgba(172, 172, 172, 1);
    font-size: 18px;
}

#login_btn {
    margin-top: 50px;
    margin-left: 310px;
    width: 200px;
    height: 38px;
    background-color: rgba(242, 184, 184, 1);
    border: 1px solid rgba(172, 172, 172, 1);
    border-radius: 10px;
    color: white;
    font-size: 18px;
    cursor: pointer;
}

#login_btn:hover {
    background-color: rgb(216, 140, 140);
}

#anchor_box {
    display: flex;
    justify-content: right;
    margin-top: 10px;
}

#sign_up:nth-child(1) {
    margin-right: 15px;
}

#sign_up {
    margin-right: 8px;
    font-size: 14px;
    color: rgb(99, 99, 243);
}

#find_passwd {
    font-size: 14px;
    color: rgb(99, 99, 243);
}

#sign_up:hover, #find_passwd:hover {
    color: blue;
    text-decoration: underline;
}

#btn {
    margin-top: 30px;
    margin-left: 310px;
    width: 200px;
    height: 38px;
    background-color: rgba(242, 184, 184, 1);
    border: 1px solid rgba(172, 172, 172, 1);
    border-radius: 10px;
    color: white;
    font-size: 18px;
    cursor: pointer;
}

#btn:hover {
    background-color: rgb(216, 140, 140);
}